@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-night-900 text-slate-100 antialiased;
}

* {
  box-sizing: border-box;
}

a {
  @apply text-dream-400 hover:text-dream-300;
}


